---
import FormattedDate from '../components/FormattedDate.astro';
import Sidebar from '../components/Sidebar.astro';

export interface Props {
  title: string;
  description: string;
  author: string;
  pubDate: string;
  cover_image: {
    path: string;
    alt: string;
    title: string;
  }
}

console.log(Astro.props);
const { frontmatter } = Astro.props;
const { title, description, author, pubDate, cover_image } = frontmatter;

---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <meta name="description" content={description}>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="w3-black">
   <Sidebar links={[
      { text: 'Home', href: '/book1' },
      { text: 'Book2', href: '/book2' },
      { text: 'Book3', href: '/book3' }
    ]} />
	
	<main class="w3-container w3-padding-large" id="main" aria-label="Content">
  	<h1 class="w3-center">{title}</h1>
		<header class="w3-flex" style="flex-direction:column;">
      <div  class="w3-flex-item" style="width:25%%;align-self:center;">
        <img class="w3-round" style="width:100%"
          src={cover_image.path}
          alt={cover_image.alt}
          title={cover_image.title}
        />
        <div class="w3-container w3-center">
          <p>Written by: FX. Adi Lima</p>
     			<p>Published on: <em><FormattedDate date={new Date(pubDate)}/></em></p>
        </div>
      </div>
		</header>
	
		<hr>
		
		<slot />
    
		<footer>
			<p>&copy; 2025 My Astro Blog</p>
		</footer>
    </main>
</body>
</html>
